.root {
	display: flex;
	gap: 1rem;
	width: fit-content;
	align-items: center;

}

.active {
	background-color: #fff;
	border-radius: 0.3rem;
	padding: 0.5rem;
}

.root li {
	border: 1px solid #fff;
	color: #fff;
	padding: 1rem;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.root li:hover {
	background: #fff;
	color: #000;
}