.root {
	background: #fff;
	padding: 1rem 2rem;
	border-radius: 0.3rem;
	margin-top: 0.3rem;
}

a {
	text-decoration: none;
	color: #000;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list ul {
	display: flex;
	gap: 0.3rem;
	cursor: pointer;
}